$primary: gold;
$carousel-control-color: rgb(230, 230, 230);
$mainBackground: rgb(248, 248, 248);
$link-home: rgb(245, 132, 87);
$link-portfolio: rgb(189, 189, 221);
$link-about: rgb(207, 207, 207);
$link-contact: rgb(255, 229, 81);
