$primary: gold;
$yellow: gold;
$lightYellow: rgba(255, 217, 0, 0.733);
$red: rgb(247, 103, 46);
$lightRed: rgb(245, 132, 87);
$lighterRed: rgb(248, 147, 107);
$blueGray: rgb(189, 189, 221);
$dkBlue: rgb(56, 56, 77);

$lightGray: rgb(230, 230, 230);
$almostWhite: rgb(248, 248, 248);

$carousel-control-color: $lightGray;
$mainBackground: $almostWhite;

$link-home: $lighterRed;
$link-portfolio: $blueGray;
$link-about: $lighterRed;
$link-contact: $lightYellow;

$link-color: $dkBlue;
$hover-color: $lightRed;
$menuBtn-hover-color: $red;
$button-color: $yellow;
$menu-color: $lightGray;
$background-color: white;

$topHeight: 6.5vw;
$borderHeight: 1.2em;
$linkwr-h4-size: 1.1em;

@mixin transition($time: 0.5s) {
    transition: all $time ease-in-out;
}

@mixin noOutline {
    outline: none;
    border: none;
}

//// decorational underlines
@mixin lineBehindAfter ($bottom: 0.7vw, $left: -0.3em){
    position: absolute;
    content: '';
    height: 0px;
    bottom: $bottom; 
    z-index: -1;
    
    margin: 0 auto;
    left: $left;
    right: 0;
    width: 0%;
    transition: all .2s ease-in-out;
}

@mixin lineBehindHover($color, $opacity: 1, $height: 0.5em) {
    width: calc(100% + 0.8em);
    height: $height;
    background-color: $color;
    opacity: $opacity;
}


//// soMe link lists
@mixin list-li($grid-col: 1.5em 4em) {
    list-style: none;
    display: grid;
    grid-template-columns: $grid-col;
    align-items: center;
    position: relative; 
    z-index: 1;
    font-weight: 600;
    font-size: 0.9em;
    width: max-content;
    margin-top: 0.4em;
    cursor: pointer;
    @include noOutline;
}

@mixin list-li-i {
    justify-self: left;
    align-self: center;
    grid-column: 1 / 2;
}
@mixin list-li-a($font-size: 1em) {
    text-decoration: none;
    grid-column: 2 / 3;
    font-size: $font-size;
}