body {
  background-color: white;
  padding: 2rem; }
  body header {
    height: 25vh;
    background-color: #f3ece3; }
    body header h1 {
      text-transform: uppercase;
      font-size: 5em;
      position: fixed;
      top: 0.6em;
      left: 0.8em; }
  body nav button {
    position: fixed;
    left: 0.5em;
    top: 45%;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 900;
    background-color: transparent;
    border: none;
    z-index: 1; }
  body nav button:hover {
    color: gold; }
  body nav button:focus {
    outline: none;
    border: none; }
  body nav div.menu {
    width: 60vw;
    left: 0vw;
    position: fixed;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 16vw 1fr 2em;
    grid-template-rows: 30vh 1fr 10vh;
    transition: all 1s ease-in-out; }
    body nav div.menu ul {
      grid-column: 2;
      grid-row: 2;
      list-style-type: none; }
      body nav div.menu ul a {
        text-decoration: none;
        color: black;
        font-size: 1.5em; }
      body nav div.menu ul a:hover {
        color: gold; }
  body nav div.closed {
    left: -60vw; }
  body main {
    background-color: #e7e7e7; }
