body {
  background-color: white;
  padding: 0 1.5rem 0 1.5rem;
  height: 100vh;
  width: 100vw; }
  body div.backgroundImage {
    background-image: url("../resources/images/grass-8.jpeg");
    background-position-y: top;
    background-size: cover;
    width: calc(100% - 3rem);
    position: fixed;
    z-index: 4;
    border-top: 6.5vw solid white;
    box-sizing: content-box;
    top: 0px;
    height: 1.2em; }
  body nav button {
    position: fixed;
    left: 1em;
    top: 45%;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 900;
    background-color: transparent;
    border: none;
    z-index: 5;
    transition: all 0.5s ease-in-out; }
  body nav button:hover {
    color: tomato; }
  body nav button:focus {
    outline: none;
    border: none; }
  body nav button.reveal {
    left: 0.8em; }
  body nav div.menu {
    position: fixed;
    left: 0;
    width: calc(100vw - 1.5rem);
    height: 100%;
    z-index: 3;
    background-color: white;
    border-right: 6vw solid gold;
    display: grid;
    grid-template-columns: 1fr 12vw 1fr;
    grid-template-rows: 20vh 1fr 10vh;
    transition: all 0.5s ease-in; }
    body nav div.menu ul {
      grid-column: 2;
      grid-row: 2;
      list-style-type: none;
      padding: 0; }
      body nav div.menu ul a {
        text-decoration: none;
        color: black;
        font-size: 3vw; }
      body nav div.menu ul a:hover {
        color: gold; }
      body nav div.menu ul a.clicked,
      body nav div.menu ul a:focus,
      body nav div.menu ul a:active {
        color: tomato; }
  body nav div.closed {
    left: calc((-100vw - 1.5rem) + 6.5rem); }
  body nav div.hover {
    left: calc((-100vw - 1.5rem) + 8rem); }
  body nav .navBorder {
    z-index: 5;
    height: 100%;
    width: 1.5rem;
    position: fixed;
    background-color: white;
    left: 0; }
  body .backgroundWrapper {
    margin-top: calc(6.5vw + 1.2em);
    border-left: 2rem solid gold;
    box-sizing: border-box;
    background-color: #f8f8f8;
    width: 100%;
    min-height: 100%;
    float: right;
    /* p {
            float: right;
        } */
    /* main {
            // display: grid;
            // grid-template-rows: 3fr 8fr;
            // overflow: scroll;
            // height: 100vh;
            // width: 100vw;
            
        } */ }
    body .backgroundWrapper header h1 {
      text-transform: uppercase;
      font-size: 5em;
      position: fixed;
      top: 0.6em;
      left: 0.8em; }
    body .backgroundWrapper header img {
      width: 28%;
      margin: 0 auto;
      position: fixed;
      top: 3vw;
      left: 1.5rem;
      z-index: 4; }
    body .backgroundWrapper .pageContent {
      margin: 3.5vw;
      display: grid;
      grid-template-columns: 8vw 1fr 1.3fr 8vw;
      grid-template-rows: 3rem auto 50vh repeat(10, 40vw);
      grid-column-gap: 1.8em;
      /* h2 {
                
            }
            p {
                grid-column: 3 / span 1;
                grid-row: auto;
            } */
      /* p.intro {
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;
            } */ }
      body .backgroundWrapper .pageContent .headerImg {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        display: flex;
        flex-direction: column;
        width: 100%; }
        body .backgroundWrapper .pageContent .headerImg img {
          width: 100%; }
      body .backgroundWrapper .pageContent .imgText {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
        font-size: 0.8em;
        font-weight: 600; }
      body .backgroundWrapper .pageContent .introWrapper {
        grid-column: 2 / span 1;
        grid-row: 1 / span 3; }
      body .backgroundWrapper .pageContent .contactIntro {
        grid-row: 2 / span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        body .backgroundWrapper .pageContent .contactIntro div {
          display: flex;
          flex-direction: column; }
          body .backgroundWrapper .pageContent .contactIntro div h2 + p {
            margin-top: 3em; }
          body .backgroundWrapper .pageContent .contactIntro div p {
            margin-top: 0.5em;
            margin-bottom: 0; }
          body .backgroundWrapper .pageContent .contactIntro div .contactInfoTitle {
            font-weight: 600;
            margin-top: 1.5em; }
      body .backgroundWrapper .pageContent .section {
        margin-top: 10rem; }
      body .backgroundWrapper .pageContent .section1 {
        grid-column: 2 / span 2;
        grid-row: 4 / span 3; }
      body .backgroundWrapper .pageContent form {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1; }
        body .backgroundWrapper .pageContent form h4 {
          margin-bottom: 1.5em; }
        body .backgroundWrapper .pageContent form textarea,
        body .backgroundWrapper .pageContent form input {
          margin-bottom: 1.5em; }
    body .backgroundWrapper .pageContent.portfolio {
      grid-template-columns: 1vw 1fr 1vw;
      grid-template-rows: auto; }
      body .backgroundWrapper .pageContent.portfolio .introWrapper.portfolioIntro {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1; }
      body .backgroundWrapper .pageContent.portfolio .section {
        grid-column: 2 / span 1;
        margin-top: 20vw;
        display: grid;
        grid-column-gap: 2em;
        grid-template-columns: 4fr 1.5fr; }
        body .backgroundWrapper .pageContent.portfolio .section .carousel {
          grid-column: 1 / span 1;
          grid-row: 1 / span 1; }
          body .backgroundWrapper .pageContent.portfolio .section .carousel img {
            width: 100%; }
          body .backgroundWrapper .pageContent.portfolio .section .carousel .carousel-indicators li {
            background-color: lightgray;
            opacity: 0.5; }
          body .backgroundWrapper .pageContent.portfolio .section .carousel .carousel-indicators li.active {
            background-color: gold;
            opacity: 0.5; }
          body .backgroundWrapper .pageContent.portfolio .section .carousel .carousel-indicators li:hover {
            opacity: 1; }
        body .backgroundWrapper .pageContent.portfolio .section .infoTextWrapper {
          grid-column: 2 / span 1; }
      body .backgroundWrapper .pageContent.portfolio .section1 {
        grid-row: 3 / span 3; }
      body .backgroundWrapper .pageContent.portfolio .section2 {
        grid-row: 6 / span 3; }
      @media screen and (max-width: 1120px) {
        body .backgroundWrapper .pageContent.portfolio .section {
          display: flex;
          flex-direction: column-reverse; }
          body .backgroundWrapper .pageContent.portfolio .section p {
            font-size: 1em;
            margin-bottom: 1em; } }
      @media screen and (max-width: 800px) {
        body .backgroundWrapper .pageContent.portfolio .section p {
          font-size: 0.8em; } }
  body .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; }
  body .sr-only-focusable:active,
  body .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto; }

@media screen and (max-width: 1300px) {
  p {
    font-size: 0.8em; } }
